$themeColor: #0d9e31;

.container {
  border: 1px solid black;
  margin: 100px 50px 100px;
  padding: 25px 100px 250px;
  background-image: linear-gradient(white, lightgray);

  h1 {
    font-size: 60px;
    font-weight: 200;
    text-align: center;
    margin: 0;
  }
}

.expense-form {
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  h2 {
    text-align: center;
    color: $themeColor;
  }

  &__name {
    width: 500px;
    height: 20px;
    margin: 10px 0 10px;
  }

  &__amount {
    width: 200px;
    height: 20px;
  }

  &__date {
    width: 200px;
    height: 20px;
    margin-right: 20px;
  }

  &__btn--add {
    background-color: $themeColor;
    color: white;
    padding: 10px 10px;
    font-size: 15px;
    border: 1px $themeColor solid;
    border-radius: 3px;
    margin: 20px 0;
    cursor: pointer;

    &:hover {
      border: 1px $themeColor solid;
      background-color: white;
      color: $themeColor;
    }
  }
}

.expense-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 75px;
  font-size: 15px;

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $themeColor;
    color: white;
  }

  th,
  td {
    border: 1px solid darkgray;
    padding: 8px;
    text-align: center;
  }

  tr {
    &:nth-child(even) {
      background-color: #f2f2f2;
    }
    &:hover {
      background-color: #ddd;
    }
  }
}

.no-entries {
  margin: 0;
  height: 50px;
  line-height: 50px;
  background-color: lightgray;
  border: 1px solid darkgray;
  font-size: 20px;
  padding-left: 15px;
}

.hidden {
  display: none;
}
